<div class="error">
  <div class="error-code m-b-10 m-t-20"><i class="fa fa-warning"></i></div>
   <h3 class="font-bold">Oops, something went wrong</h3>
   <div class="error-desc">
    The server is unavailable for the moment. We're doing everything we can to correct the problem.
    <br/>
    Please try again later.
   <div>
    	<i class="fa fa-arrow-left"></i>
    	<%= link_to 'Go back to Homepage', root_path , class:"login-detail-panel-button btn" %> 
   </div>
  </div>
</div>